body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(222, 174, 135);
  background-image:url(https://i.pinimg.com/736x/0e/a8/b3/0ea8b3a5ce8a96c283a6ded792b02278.jpg);
  color:rgb(227, 227, 243);
}
a{
  color: rgb(233, 230, 223);
  background-color: rgb(78, 91, 55);
  padding: 10px;
  font-size: larger;
  font-weight:bold;
}
img{
  display: block;
  width: 100%;
  border: solid, white, 5px;
  padding: 3px;
  margin: auto;
}
.footer{
  bottom: 0px;
  left: 0px;
  position: fixed;
  background-color: rgb(104, 136, 147);
  border-top: white;
  width: 100%;
  text-align: center;
  font-style: italic;
  color: white;
  padding: 10px;
}
.header{
  position: relative;
  padding: 20px;
  background: no-repeat center center;
  background-color: rgb(78, 91, 55);
  font-size:  50px;;
  color: rgb(233, 230, 223);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
}
.mainbody {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: left;
  background-color: rgb(233, 230, 223);
  color: rgb(124, 93, 63);
  font-size: large;
  border: 5px solid rgb(78, 91, 55);
}

.mainbody_header {
  flex-basis: 30%;
  font-size: larger;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline
}

.text-block {
  flex-basis: 30%;
  background-color: rgb(233, 230, 223);
  padding: 10px;
}
